* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

/*added here, because font-family does not inherited by these tags */

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  src: url("../fonts/SicretMonoPERSONAL-Bold 700.ttf");
  font-family: "Sicret Mono Personal";
}

.header__logo img:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: "Sicret Mono Personal";
  letter-spacing: 5px;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c2237;
  opacity: 0.8;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 3;
}
.header__logo img {
  width: 75px;
}
@media (max-width: 840px) {
    .header__logo img{
        width: 40px;
    }
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 40px;
}
.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}
.header__link:hover {
  display: block;
  transform: translate(20px 20px);
}
@media (max-width: 840px) {
  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.2s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.2s ease 0s;
    background-color: #0c2237;
    padding: 80px 20px 20px 40px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 24px;
  }
}

.title{
    margin: 80px 0 40px 0;
    font-family: Sicret Mono Personal;
    color: #eb052c;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    text-shadow: 2px 2px 3px black;
    opacity: 1;
}
@media (max-width: 900px) {
    .title{
        margin: 10px 0 20px 0;
        font-size: 40px;
    }
}
@media (max-width: 420px) {
    .title{
        margin: 10px 0 20px 0;
        font-size: 30px;
    }
}
@media (max-width: 320px) {
    .title{
        margin: 10px 0 20px 0;
        font-size: 20px;
    }
}

.text{
    font-family: sans-serif;
    line-height: 20px;
    font-size: 18px;
    padding: 40px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.conteiner {
  max-width: 1180px;
  margin: 0 auto;
  flex: 1 1 auto;
  padding: 0 10px 0;
}

.fullscreen {
    min-height: 100vh;
    display: flex;
    padding: 20px 0;
}
@media (max-width: 840px) {
    .fullscreen{
        min-height: 70vh;
    }
    .title{
        margin: 0;
        padding: 60px 0 20px 0;
    }
}

/*========= FIRST PAGE =============*/

.fullscreen1 {
    display: flex;
    background-image: url(../img/Action_2016_MTB_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
@media (max-width: 840px) {
    .fullscreen1{
        background-image: url(../img/2054.jpg);
    }
}
.box {
    flex: 1 1 auto;
    max-width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box__title {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 4px black;
}
@media (max-width: 840px) {
    .box__title{
        margin: 40px 0 0 0;
        font-size: 30px;
    }
}
.box__button{
    position: relative;
}
a.button {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
    background-color: #0c2237;
}
a.button:hover{
    background-color: rgba(0,0,0, 0.0);
}

li a:hover {
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    color: #eb052c;
}

a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

a svg rect{
    stroke: #fff;
    stroke-width: 6;
    transition: 0.7s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
a:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 237;
    stroke: #eb052c;
}
a:hover span {
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    color: #eb052c;
}

/*========== Activities ============*/

.screen2{
    background-color: #f0f4f7;
}
@media (max-width: 900px) {
    .screen2{
        background-color: #0c2237;
        min-height: 100vh;
    }
    a.reuss{
        color: red;
    }
}

@media (max-width: 640px) {
    .screen2{
        background-color: #0c2237;
        min-height: 90vh;
    }
}

@media (max-width: 420px) {
    .screen2{
        background-color: #0c2237;
        min-height: 60vh;
    }
}

.box1 {
    display: flex;
}

@media (max-width: 840px) {
    .box1{
        display: flex;
        flex-direction: column;
    }
    .box1__image{
        display: none;
    }
}

.box1__image {
    flex: 0 1 50%;
}
.box1__image img{
    width: 100%;
    border-radius: 1px;
    padding: 20px;
}
.box1__text {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width: 840px) {
    .box1__intro-text{
        color: #fff;
    }
}

.box1__button{
    text-align: center;
}

/*============= PLACES ====================*/

.screen3 {
    background-color: #f0f4f7;
}

.box2__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*============= NATURE ===================*/

.screen4 {
    background-color: #f0f4f7;
}

@media (max-width: 900px) {
    .box__text{
        display: flex;
        justify-content: column;
    }
}

/*======== SLIDER / ROUTES ===========*/

.fullscreen5 {
    min-height: 100vh;
    background-color: #f0f4f7;
}

.box4__slider{
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider{
    min-width: 0;
    position: relative;
}
@media (max-width: 1078px) {
    .slider{
        max-width: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 450px) {
    .slider{
        max-width: 300px;
        margin: 0 auto;
    }
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 100px;
    opacity: 1;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url(../img/icons/left-chevron.svg) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url(../img/icons/right-chevron.svg) 0 0 / 100% no-repeat;
}
@media (max-width: 840px) {
    .slider .slick-arrow.slick-prev,
    .slider .slick-arrow.slick-next {
        background: none;
    }
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin:  0 10px;
}

.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 2px solid #0c2237;
}

.slick-dots li button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #0c2237;
    border-radius: 50%;
}
.slider .slider__item{
    margin: 15px;
}
.slider__box{
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.slider__box img{
    max-width: 100%;
    margin-bottom: 5px;
    border: 2px solid #f0f4f7;
}
@media (max-width: 840px) {
    .slider__box{
        max-width: 300px;
    }
    .slider__box img{
        max-width: 100%;
        max-height: 100%;
    }
}
.title__slider{
    padding: 5px;
    fill: cover;
    font-family: sans-serif;
    font-size: 20px;
    color: #0c2237;
    letter-spacing: 1px;
}

.fullscreen_bg {
    background-image: url(../img/2054.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/*===============CONTACTS=====================*/
.fullscreen6{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.fullscreen6 {
    background-image: url(../img/2054.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.box5 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

@media (max-width: 840px) {
    .box5__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.box5__content {
    display: flex;
    background-color: rgba(184, 200, 182, 0.81);
    border-radius: 2px;
    padding: 5px;
    flex: 1 1 auto;
}

.input_form{
    margin: 20px;
}
.form_message{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.button__form{
    background-image: url(../img/sl-arrow-r.png);
    background-repeat: no-repeat;
    -webkit-background-size: 200px;
    background-size: 200px;
    padding: 200px;
    display: flex;
    justify-content: center;
}

@media (max-width: 840px) {
    .box5__social{
        margin: 60px 0 0 0;
    }
}
@media (max-width: 450px) {
    .box5__social{
        margin: 100px 0 0 0;
    }
}
.box5__smm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.box5__smm img{
    margin: 0 30px 0 0;
}

/* ========================================================== */
  
  h1{
    font-family: Monoton;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .box__input{
    background-color: #f0f4f7;
    padding: 15px;
    max-width: 320px;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0 auto;
    align-items: center;
  }

  .box__input h1{
      text-align: center;
      font-family: sans-serif;
      letter-spacing: 2px;
  }
  
  .form{
    font-size: 14px;
    width: 300px;
    position: relative;
    height: 50px;
    overflow: hidden;
    line-height: 11px;
  }
  
  .form input{
    background-color: #f0f4f7;
    width: 100%;
    height: 100%;
    color: #1695c0;
    padding-top: 20px;
    border: none;
    outline: none;
  }
  
  .form label {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid grey;
  }
  
  .form label::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #1695c0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .content-name{
    position: absolute;
    color: grey;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }
  
  .form input:focus + .label-name .content-name, 
  .form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #1695c0;
  }
  
  .form input:focus + .label-name::after, 
  .form input:valid + .label-name::after{
    transform: translateX(0%);
  }


  /* ============================================================================================================= */


  .footer{
    min-height: 40vh;
    background-color: #0c2237;
	font-family: sans-serif;
	color: #fff;
	list-style: none;
	text-decoration: none;
	letter-spacing: 1px;
    z-index: 10;
}
@media (max-width: 900px) {
    .footer{
        height: 100%;
        margin: 0 auto;
        width: 100%;
        font-size: 20px;
    }
}
.footer__box {
    background-color: #0c2237;
    padding-top: 20px;  
}

@media (max-width: 900px) {
    .footer__box{
        padding: 20px;
        display: flex;
        width:100%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}


.intro__footer{
	display: flex;
    justify-content: space-between;    
	text-decoration: none;
	color: #dae8de;
    line-height: 2;
}

@media (max-width: 900px) {
    .intro__footer{
        display: flex;
        flex-direction: column;
    }
}

.footer__block {
    margin: 0 60px 0 0;
    align-items: center;
}
.social__media {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social__media a{
	margin: 0 40px 0;
}

.footer a{
	color: #dae8de;
}

.tel a{
    color: orange;
}
